@use './vars' as v;

.form {
  @include v.flex-y(false, center);
  max-width: 220px;

  &,
  > * + * {
    margin-top: 12px;
  }

  &__input {
    -webkit-appearance: none;
    appearance: none;
    padding: 5px;
    border: 1px solid var(--colour__primary);
    border-radius: 0;

    &--invalid {
      border-color: var(--colour__error);
    }
  }

  &__error {
    text-align: center;
    color: var(--colour__error);
  }
}
