@use 'sass:color';

@use './vars' as v;

$primary: v.$black;
$secondary: v.$white;
$tertiary: #6e7677;
$interactive: #53595a;

@mixin theme($p: $primary, $s: $secondary, $t: $tertiary, $i: $interactive) {
  --colour__primary: #{$p};
  --colour__secondary: #{$s};
  --colour__tertiary: #{$t};
  --colour__interactive: #{$i};
}
@mixin light-theme {
  @include theme(
    color.invert($primary),
    color.invert($secondary),
    color.scale($tertiary, $lightness: -5%),
    color.scale($interactive, $lightness: 30%)
  );
}

// CSS Vars
:root {
  @include light-theme;

  --colour__white: #{v.$white};
  --colour__black: #{v.$black};
  --colour__error: #e71414;
  --colour__danger: rgba(231, 20, 20, 0.4);
}
@media (prefers-color-scheme: dark) {
  :root {
    @include theme;
  }
}

.theme--dark {
  @include theme;
}
.theme--light {
  @include light-theme;
}
