@use 'sass:color';

@use 'vars' as v;

@mixin theme($p: v.$primary, $s: v.$secondary, $i: v.$tertiary, $t: v.$tertiary-light) {
  --colour__primary: #{$p};
  --colour__secondary: #{$s};
  --colour__tertiary: #{$i};
  --colour__tertiary-light: #{$t};
}
@mixin light-theme {
  @include theme(
    color.invert(v.$primary),
    color.invert(v.$secondary),
    color.scale(v.$tertiary, $lightness: 30%),
    color.scale(v.$tertiary-light, $lightness: -5%)
  );
}

// CSS Vars
:root {
  @include light-theme;

  --colour__white: #{v.$white};
  --colour__black: #{v.$black};
  --colour__error: #{v.$error};
  --colour__danger: #{v.$danger};
  --colour__highlight: #{v.$highlight};
  --colour__highlight-hover: #{v.$highlight-hover};
}
@media (prefers-color-scheme: dark) {
  :root {
    @include theme;
  }
}

.theme--dark {
  @include theme;
}
.theme--light {
  @include light-theme;
}
