// Mixins
@mixin flex-x($justify: false, $align: false) {
  display: flex;
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}
@mixin flex-y($justify: false, $align: false) {
  @include flex-x($justify, $align);
  flex-direction: column;
}

@mixin equal-dimensions($dimensions) {
  width: $dimensions;
  height: $dimensions;
}

@mixin cover {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin light-theme {
  --color__primary: var(--white);
  --color__secondary: var(--black);
  --color__tertiary: #6e6e6e;
  --color__interactive: #727272;
  --color__error: #e71414;
}
@mixin dark-theme {
  --color__primary: var(--black);
  --color__secondary: var(--white);
  --color__tertiary: #bebebe;
  --color__interactive: #2e2e2e;
  --color__error: #e71414;
}

// CSS Vars
:root {
  @include light-theme;

  --white: #eeeeee;
  --black: #141313;
}
@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}

.theme--light {
  @include light-theme;
}
.theme--dark {
  @include dark-theme;
}

// Sass Vars
$sync-icon-dimensions: 32px;
$sync-icon-right: 18px;
