@use 'sass:color' as color;

// Sass Vars
$black: #141313;
$white: #eeeeee;
$primary: $black;
$secondary: $white;
$tertiary: #6e7677;
$interactive: #53595a;

$editor-date-height: 34px;
$utility-menu-right: 18px;
$utility-menu-width: 32px;
$text-shadow: 0 1px 0 $black;
$drop-menu-padding: 3px;

// Mixins
@mixin flex-x($justify: false, $align: false) {
  display: flex;
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}
@mixin flex-y($justify: false, $align: false) {
  @include flex-x($justify, $align);
  flex-direction: column;
}

@mixin equal-dimensions($dimensions) {
  width: $dimensions;
  height: $dimensions;
}

@mixin cover {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin light-theme {
  --colour__primary: #{color.invert($primary)};
  --colour__secondary: #{color.invert($secondary)};
  --colour__tertiary: #{color.scale($tertiary, $lightness: -5%)};
  --colour__interactive: #{color.scale($interactive, $lightness: 30%)};
}
@mixin dark-theme {
  --colour__primary: #{$primary};
  --colour__secondary: #{$secondary};
  --colour__tertiary: #{$tertiary};
  --colour__interactive: #{$interactive};
}

// CSS Vars
:root {
  @include light-theme;

  --colour__white: #{$white};
  --colour__black: #{$black};
  --colour__error: #e71414;
}
@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}

.theme--light {
  @include light-theme;
}
.theme--dark {
  @include dark-theme;
}
